.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project


upload/usuario/*
upload/estabelecimento/*


application/admin/logs/*
!application/admin/logs/index.html
!application/admin/logs/.htaccess

application/business/logs/*
!application/business/logs/index.html
!application/business/logs/.htaccess

application/app/logs/*
!application/app/logs/index.html
!application/app/logs/.htaccess

application/portal/logs/*
!application/portal/logs/index.html
!application/portal/logs/.htaccess